@using MvcKutuphane.Models.Entity
@using PagedList
@using PagedList.Mvc
@model  List<TBLHAREKET>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
    string renk = "";

}
<html>
<head>
    <title>Ödünçtekiler</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <h2>Ödünç Kitaplar Listesi</h2>
    <span style="color:#710c0c;font-size:large">
        <i class="glyphicon glyphicon-envelope"></i>
        <i style="color:#ff0000">  KIRMIZI </i><i style="color:black">VE </i><i style="color:#d5a00b">SARI</i><i style="color:black">
            OLAN ÖDÜNÇLER İÇİN HATIRLATMA AMACIYLA MAİL ATMAYI UNUTMAYINIZ..<a href="/Odunc/MailAt/" class="btn btn-default" style="background-color: #d5a00b;color: white;margin-left:20px;">
    <i class="glyphicon glyphicon-envelope"></i>
    MAİL GONDER
</a>

        </i>
    </span>
    <div style="height:20px"></div>

    <div style="height:4px"></div>
    <table id="tbl1" class="table table-bordered">
        <thead>
            <tr style="background-color:#AAAFFA">
                <th>İşlem Numarası</th>
                <th>Kitap Adı</th>
                <th>Uye</th>
                <th>Mail Adresi</th>
                <th>Alış Tarihi</th>
                <th>İade Tarihi</th>
                <th>Durum</th>
                <th>İade Al</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var k in Model)
            {
                DateTime d1 = DateTime.Parse(k.IADETARIH.ToString());
                DateTime d2 = Convert.ToDateTime(DateTime.Now.ToShortDateString());
                TimeSpan d3 = d2 - d1;
                TimeSpan d4 = d1 - d2;

                if (d3.TotalDays >= 0)
                {



                    renk = "bg-danger text-white";


                }
                else if (d4.TotalDays >= 5)
                {
                    renk = "bg-success text-white";
                }
                else if (d4.TotalDays <= 5)
                {
                    renk = "bg-warning text-white";

                }



                if (d3.TotalDays < 0)
                {
                    d3 = d1 - d2;
                    ViewBag.dgr = (d3.TotalDays) + " Gün Kaldı";

                }
                else
                {

                    ViewBag.dgr = (d3.TotalDays) + " Gün Geçti";

                }


                <tr class="@renk">
                    <td>@k.ID</td>
                    <td>@k.TBLKITAP.AD</td>
                    <td>@k.TBLUYELER.AD&nbsp;@k.TBLUYELER.SOYAD</td>
                    <td>@k.TBLUYELER.MAIL</td>
                    <td style="font-weight:bold">@Convert.ToDateTime(k.ALISTARIH).ToString("dd") / @Convert.ToDateTime(k.ALISTARIH).ToString("MM")</td>
                    <td style="font-weight:bold">@Convert.ToDateTime(k.IADETARIH).ToString("dd") / @Convert.ToDateTime(k.IADETARIH).ToString("MM")</td>
                    <td> @ViewBag.dgr</td>
                    <td><a href="/Odunc/Odunciade/@k.ID" class="btn btn-default" style="background-color: #fba0b7;color: white">İade Al</a></td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({
        language: {
            "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Turkish.json"
        }
    });
</script>