@using MvcKutuphane.Models.Entity
@model List<TBLKITAP>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kitaplar</title>

</head>
<body>

    <h2 style="font-weight:bold ; margin-left: 350px; font-family: sans-serif">Kitaplar</h2>


    @* @using (Html.BeginForm("Index", "Kitap", FormMethod.Get))
        {
            <div style="margin-bottom:15px; margin-top:15px">
                <b>Arama:&nbsp</b>@Html.TextBox("p")

                <input type="submit" value="Ara" />
            </div>
        }*@



    <table id="tbl1" class="table table-striped">
        <thead>
            <tr style="background-color:#AAAFFA">
                <th>Raf Numarası</th>
                <th>Kitap Adı</th>
                <th>Kitap Yazarı</th>
                <th>Kategori</th>
                <th>Basım Yılı</th>
                <th>Yayınevi</th>
                <th>Sayfa</th>
                <th>Durum</th>
                <th>Sil</th>
                <th>Güncelle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var k in Model)
            {
                <tr>
                    <td>@k.KITAPRAFI</td>
                    <td>@k.AD</td>
                    <td>@k.TBLYAZAR.AD&nbsp; @k.TBLYAZAR.SOYAD</td>
                    <td>@k.TBLKATEGORI.AD</td>
                    <td>@k.BASIMYIL</td>
                    <td>@k.YAYINEVI</td>
                    <td>@k.SAYFA</td>
                    <td>
                        @if (@k.DURUM == false)
                        {
                            <h4>Mevcut Değil </h4>
                        }
                        else
                        {
                            <h4>Mevcut</h4>

                        }
                    </td>
                    <td>
                        @Html.ActionLink("Sil", "KitapSil", new { id = k.ID }, new
                        {
                            @class = "btn btn-danger",
                   onClick = "return confirm('Silmek İstiyor musunuz?')"
                        })
                    </td>
                    <td><a href="/Kitap/KitapGetir/@k.ID" class="btn btn-success">Güncelle</a></td>
                </tr>


            }
        </tbody>
    </table>
    <a href="/Kitap/KitapEkle" class="btn btn-primary">Kitap Ekle</a>

</body>
</html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({
        language: {
            "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Turkish.json"
        }
    });
</script>
